* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu Mono', monospace;
}

.field {
    margin: 5rem auto;
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    border: solid black 1px;
    width: calc(100% / 3);
    height: calc(100% / 3);
    text-align: center;
    line-height: 150px;
}

.symbol {
    font-size: 10rem;
}

.wincombo {
    text-decoration: line-through;
}

.result-message {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    margin-top: 1rem;
}